
input.btn.text-center {
    height: 40px;
    border-radius: 5px;
    line-height: 0px;
}
.form-group {
    margin-bottom: 30px;
}
.alert-warning {
    color: #fff;
    background-color: #0b564e;
    border-color: #0b564e;
}
button.close{
    background:none;
}
nav._breadcrumb {
    position: relative;
    margin-top: 70px;
}
.breadcrumb_div{
    background-color: #e9ecef;
}


nav._breadcrumb h2 {
    position: absolute;
    top: 13px;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.bg-lap{
    background-color:#0b564e;
    position:fixed;
    bottom:0;
    color:#fff;
    padding-top:10px;
    padding-bottom:10px;
}
.bg-lap p a{
    color:#fff;
    text-decoration:none;
    font-weight:bold;
}
.breadcrumb {
    justify-content: flex-end;
    margin-bottom:0rem !important;
}
table.dataTable {
    width: auto;
}
table.dataTable {
    width: 100%;
    display: block;
    max-height:300px;
    overflow: auto;
}
table.dataTable th, table.dataTable td{
    white-space: nowrap;
}
.dataTables_filter,.pagination {
    float:right;
}


button.dropdown-toggle {
    border: none;
    background: none;
    color:red !important;
}
.btn-group.lgbutton{
    letter-spacing: .15em;
    display: inline-block;
    position: relative;
}
nav ul li a{
    text-decoration:none !important;
    color:#000;
}
.dropdown-menu {
    padding:0rem;
    text-align: center;
    min-width:0rem;
    left:50px;
}
li.breadcrumb-item a{
    color:#000 !important;
    text-decoration:none;
}

.main {
    display: flex;
    min-height: 73vh;
    flex-direction: column;
    justify-content: center;
}
table.dataTable {
    width: auto;
}
table.dataTable {
    width: 100%;
    display: block;
    max-height:300px;
    overflow: auto;
}
table.dataTable th, table.dataTable td{
    white-space: nowrap;
}
.dataTables_filter,.pagination {
    float:right;
}
button.btn.btn-secondary.buttons-excel.buttons-html5 {
    height: 40px;
    border-radius: 5px;
}

table.dataTable th, table.dataTable td{
    width: 10%;
} 
ul li{
    padding:0px !important;
}   
@media only screen and (max-width: 450px) {
    
    a.navbar-brand {
        width: 75%;
    }
    ul li{
        padding:0px;
    }
    nav._breadcrumb {
        position: relative;
        margin-top: 56px;
    }
    h1, .h1 {
        font-size: 45px;
    }
    nav ul li a{
        padding:5px 0px;
    }
   
}
